__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

.venv/
.venv*/
venv/
env/
.env


.vscode/
.idea/

*.log

.archive/
llm_model_base/
llm_model_lora/**
!llm_model_lora/**/
!llm_model_lora/**/README.md
.worktrees/